body
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.logIn
{
    height: 100vh;
}

h3 
{
    font-size: 0.8rem;
}

h3 span a
{
    color: #FF919C;
}

button a
{
    color: white !important;
}

.btn-login, .signUpbtn
{
    background-color: #86a5d4;
    color: white;
}

.btn:hover
{
    background-color: #FF919C !important;
}

.imgSignup
{
    width: 85% !important;
    height: 80% !important;
}

#closeEmailDialog, #validateDialog
{
    cursor: pointer;
}

dialog
{
    border-radius: 20px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.273);
}


@keyframes shake {
        0% { transform: translate(1px, 1px) rotate(0deg); }
        10% { transform: translate(-1px, -2px) rotate(-1deg); }
        20% { transform: translate(-3px, 0px) rotate(1deg); }
        30% { transform: translate(3px, 2px) rotate(0deg); }
        40% { transform: translate(1px, -1px) rotate(1deg); }
        50% { transform: translate(-1px, 2px) rotate(-1deg); }
        60% { transform: translate(-3px, 1px) rotate(0deg); }
        70% { transform: translate(3px, 1px) rotate(-1deg); }
        80% { transform: translate(-1px, -1px) rotate(1deg); }
        90% { transform: translate(1px, 2px) rotate(0deg); }
        100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.shakeImg
{
    animation: shake 0.5s infinite;
}

.tableDiv
{
    display: block !important;
    width: 85%;
}